<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <button onclick="window.location.href='/qr'">QR Code Display</button>
    <button onclick="window.location.href='/register'">User Register</button>
    <button onclick="window.location.href='/staff-login'">Staff Login</button>
</body>
</html>
