<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for Appointment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Appointment Checkin</h1>
        <form action="/submit-register" method="POST">
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob">
            
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
